.Ion__Card {
    background-color: black;

}

.Ion__Card__Title {
    color: with;
    text-align: rigth;
}

.Ion__Card__SubTitle {
    color: with;
    text-align: rigth;
}

.Ion__Card__Content {
    color: with;
    text-align: rigth;
}

.Ion_Button {
    color :black;
    background-color: white;
}